body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #5cdb95;
  }

  .navbarProduct {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #05386B;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;

    .producto{
      margin: 0 10px;
    }
  }

  .navbar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
    width: 990px;
  }

  .navbar button {
    background-color: #edf5e1;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
